* {
    margin: 0;
    box-sizing: border-box;
    border:2px solid black;
}
body {
    height: 100vh;
}

.container {
   display: flex;
    height: 100%;
}

.first-cont {
    width: 60%;
    height: 100%;
    background-color: aqua;
}

.second-cont {
    width: 40%;
    height: 100%;
    background-color: rgb(172, 123, 17);
}

.mini-one {
    height: 40%;
    background-color: blue;
}

.mini-two {
    height: 40%;
    background-color: rgb(255, 255, 2);
}

.mini-three {
    height: 20%;
    background-color: rgb(243, 0, 162);

}

.first {
    height: 50%;
    width: 50%;
    background-color: black;
}
.second {
    height: 50%;
    width: 50%;
    background-color: rgb(9, 255, 0);
}

.third {
    height: 100%;
    width: 50%;
    background-color: blueviolet;
}