* {
    margin: 0;
    box-sizing: border-box;
    /* border:2px solid white; */
}
body {
    height: 100vh;
}

.header {
    height: 20%;
    background-color: rgb(47, 255, 158);
    border-bottom: 5px solid maroon;
    background-image: url(./header.jpg);
}

.container {
    height: 60%;
    display: flex;
    border-bottom: 5px solid maroon;
}

.aside {
    height: 100%;
    width: 25%;
    background-color: blue;
    border-right: 5px solid maroon;
}

.article {
    height: 100%;
    width: 100%;
    background-color: brown;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items:flex-end;
    text-align:center;

}

.imageOne {
    height: 33%;
    width: 30%;
    background-color: rgb(13, 134, 2);
    margin-right: 2%;
    margin-bottom: 2%;
    background-image: url(./astro.jpg);

}

    

.imageTwo {
    height: 33%;
    width: 30%;
    background-color: rgb(13, 134, 2);
    margin-right: 2%;
    margin-bottom: 2%;

}

.imageThree {
    height: 33%;
    width: 30%;
    background-color: rgb(13, 134, 2);
    margin-right: 2%;
    margin-bottom: 2%;
}

footer{
    height: 20%;
    background-color: rgb(173, 216, 216);
    background-image: url(./footer.png);
}

p {
    flex-wrap: wrap;
    width: 100%;
}

.footer-text {
text-align: center;
padding: 85px 0;
}

.image-text {
    text-align: center;
    padding: 85px 0;
}

h4 {
    text-align: center;
    padding: 250px 0;
}

h3 {
    text-align: center;
    padding: 85px 0;
}