/* 
body {
    background-image: url("./images/teahub.io-4k-wallpaper-for-laptop-1001029.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 10;
} */

.container ::before{
    content: "";
    background-image: url("./images/teahub.io-4k-wallpaper-for-laptop-1001029.jpg");
    background-size: cover;
    background-position: center;
    position:absolute;
    width: auto;
    height: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.2;
    /* I need to read about this. A lot. */
    z-index: -1;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Righteous', cursive;
}

.topnav {
margin: 25px;
 }

ul {
    list-style:none;
    text-align: center;
    justify-content: space-around;
}

li {

    display: inline;
    border: solid 1px #0c0909;
    border-radius: 5%;
    padding: 1em;

}

a {
    text-decoration: none;
    /* neliks pabraukimu */
    color: rgb(0, 0, 0);
    cursor: pointer;
    
}

a:visited {
    color: pink;
}


li:hover {
    background-color: gold;
    transition: 0.5s;
    padding: 1em;
    
}